footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  //background: rgba(white,.5);
  padding: 12px 13px;
  button {
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-family: inherit;
    font-weight: 100;
    font-size: 30px;
    line-height: .8;
    margin-right: 6px;
    text-align: center;
    position: relative;
    span {
      position: absolute;
      top: -1px;
      left: 5px;
    }
    &.minus {
      span {
        left: 6px;
      }
    }
    &.last {
      float: right;
      margin-right: 0;
    }
  }
}