@import "SCSS/_reset.scss";
@import "SCSS/_background.scss";
@import "SCSS/_footer.scss";

//@import "components/sticky/sticky.scss";

body {
  font-family: "Helvetica Neue";
  .workarea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 55px);
    position: relative;
    object {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
