.sticky {
  background-color: transparent;
  width: 215px;
  height: 188px;
  perspective: 1000px;
  .sticky-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
    .front, .back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      top:0;
      button.i {
        position: absolute;
        bottom: 10px;
        right: 8px;
        background: transparent;
        border: none;
        border-radius: 100%;
        width: 13px;
        height: 13px;
        padding: 0;
        text-align: center;
        span {
          font-family: Georga;
          font-style: italic;
          font-weight: 900;
          font-size: 13px;
          line-height: 8px;
          position: absolute;
          top: 3px;
          right: 4px;
        }
        
        opacity: 0;
        transition: opacity .5s;
        &:hover {
          background: rgba(black,.25);
        }
      }
    }
    
    .front {
      background-image: url(components/sticky/sticky.svg);
      background-repeat: no-repeat;
      color: black;
      padding: 10px;
      position: relative;
      
      textarea {
        background: transparent;
        font-family: "Marker Felt", Markerfelt;
        border: none;
        resize: none;
        font-size: 1.25rem;
        width: 182px;
        height: 159px;
        &:focus, &:focus-visible {
          outline: none;
        }
      }
      
    }
    
    .back {
      background-color: #2980b9;
      color: white;
      transform: rotateY(180deg);
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
  }
  &:hover {
    .sticky-inner  {
      button.i {
        opacity: 1;
      }
    }
  }
  &.flipped .sticky-inner{
    transform: rotateY(180deg);
  }
}




