.sticky {
  background-color: transparent;
  width: 215px;
  height: 188px;
  perspective: 1000px; }
  .sticky .sticky-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d; }
    .sticky .sticky-inner .front, .sticky .sticky-inner .back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      top: 0; }
      .sticky .sticky-inner .front button.i, .sticky .sticky-inner .back button.i {
        position: absolute;
        bottom: 10px;
        right: 8px;
        background: transparent;
        border: none;
        border-radius: 100%;
        width: 13px;
        height: 13px;
        padding: 0;
        text-align: center;
        opacity: 0;
        transition: all 0.5s; }
        .sticky .sticky-inner .front button.i span, .sticky .sticky-inner .back button.i span {
          font-family: Georga;
          font-style: italic;
          font-weight: 900;
          font-size: 13px;
          line-height: 8px;
          position: absolute;
          top: 3px;
          right: 4px; }
        .sticky .sticky-inner .front button.i:hover, .sticky .sticky-inner .back button.i:hover {
          background: rgba(0, 0, 0, 0.25); }
    .sticky .sticky-inner .front {
      background-image: url(components/sticky/sticky.svg);
      background-repeat: no-repeat;
      color: black;
      padding: 10px;
      position: relative; }
      .sticky .sticky-inner .front textarea {
        background: transparent;
        font-family: "Marker Felt", Markerfelt;
        border: none;
        resize: none;
        font-size: 1.25rem;
        width: 182px;
        height: 159px; }
        .sticky .sticky-inner .front textarea:focus, .sticky .sticky-inner .front textarea:focus-visible {
          outline: none; }
    .sticky .sticky-inner .back {
      background-color: #555;
      color: white;
      transform: rotateY(180deg);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 13px;
      display: flex;
      flex-direction: column;
      align-content: space-between; }
      .sticky .sticky-inner .back .row.colors {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around; }
        .sticky .sticky-inner .back .row.colors .color {
          width: 27px;
          height: 25px;
          border: 0;
          border-radius: 0;
          background: silver;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75), 0 5px 10px rgba(0, 0, 0, 0.15), inset 0 0.5px 1px rgba(255, 255, 255, 0.5), inset 0 -0.5px 1px rgba(0, 0, 0, 0.5); }
          .sticky .sticky-inner .back .row.colors .color:nth-child(1) {
            background-color: #F8F58B; }
          .sticky .sticky-inner .back .row.colors .color:nth-child(2) {
            background-color: #ECA96E; }
          .sticky .sticky-inner .back .row.colors .color:nth-child(3) {
            background-color: #D6F684; }
          .sticky .sticky-inner .back .row.colors .color:nth-child(4) {
            background-color: #ABF572; }
          .sticky .sticky-inner .back .row.colors .color:nth-child(5) {
            background-color: #A0E6F6; }
          .sticky .sticky-inner .back .row.colors .color:nth-child(6) {
            background-color: #6FA7F3; }
          .sticky .sticky-inner .back .row.colors .color:nth-child(7) {
            background-color: #A68EF1; }
          .sticky .sticky-inner .back .row.colors .color:nth-child(8) {
            background-color: #CB90F3; }
          .sticky .sticky-inner .back .row.colors .color:nth-child(9) {
            background-color: #F0F0F0; }
          .sticky .sticky-inner .back .row.colors .color:nth-child(10) {
            background-color: #C2C2C2; }
      .sticky .sticky-inner .back .row.font {
        margin-top: 10px;
        text-align: left;
        margin-bottom: 30px; }
        .sticky .sticky-inner .back .row.font span {
          font-size: 10px;
          padding: 8px 0;
          display: block; }
        .sticky .sticky-inner .back .row.font select {
          display: inline; }
          .sticky .sticky-inner .back .row.font select#family {
            width: 134px; }
      .sticky .sticky-inner .back .row.panel-footer {
        text-align: right; }
  .sticky:hover .sticky-inner button.i {
    opacity: 1; }
  .sticky.flipped .sticky-inner {
    transform: rotateY(180deg); }
